


<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="smoke" parallel="false">
     <parameter name="browser" value="firefox"/>
    <parameter name="browser" value="chrome"/>
    <parameter name="browser" value="ie9"/>
    <test name="smoke" preserve-order="true">
    
     <packages>
            <package name="test.nestle" />
            
        </packages>
        <groups>
            <define name="all">
                <include name="create"/>
            </define>
            <run>
                <include name="all" />
                <exclude name="failed" />
            </run>
        </groups>
 
        <classes>
            <class name="test.nestle.CreateAccount" />  
            <class name="test.nestle.ContactUS" />         
        </classes>
    </test>
    <dependencies></dependencies>
</suite>