<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >
 
<suite name="Example" verbose="1">
    <parameter name="param" value="Windows 7 with Firefox"/>
    <test name="ObjectExitTest simple example">
        <parameter name="param2" value="Laramie2"/>
        <classes>
            <class name="com.trihonda.test.PageLoads.DealerQuoteTest"/>
        </classes>
 
        <groups>
            <run>
                <include name="first"/>
            </run>
        </groups>
    </test>
</suite>